<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
	<div class="container">
		<form action="{{ url_for('login') }}" method="POST" class="login-email">
			<p class="login-text" style="font-size: 2rem; font-weight: 800;">Přihlásit</p>
			<div class="input-group">
				<input type="text" placeholder="Username" name="username" required>
			</div>
			<div class="input-group">
				<input type="password" placeholder="Password" name="password" required>
			</div>
			<div class="input-group">
				<button name="submit" class="btn">Přihásit se</button>
			</div>
       			<p class="login-register-text">Nemáte účet? <a href="{{ url_for('register') }}">Zaregisrovat se</a>.</p>
		</form>
	</div>
</body>
</html>
