<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

</head>
<body>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <label>Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <form method="GET" action="{{ url_for('register') }}">
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>
