<!DOCTYPE html>
<html>
<head>
	<title>User Matrix Data</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

</head>
<body>
	<h1>User Matrix Data</h1>
	<table>
		<thead>
			<tr>
				<th>Rows</th>
				<th>Columns</th>
				<th>Value</th>
				<th>Date Created</th>
			</tr>
		</thead>
		<tbody>
			{% for date, row in sorted_data %}
				<tr>
					<td>{{ row["_Rows"] }}</td>
					<td>{{ row["_Column"] }}</td>
					<td>{{ row["_value"] }}</td>
					<td>{{ row["DateCreated"] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
<button onclick="history.back()">Go Back</button>


</html>
